<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
  </head>
  <style type="text/css">
  	.img1{height: 100%;width: 100%;}
  	
  	h3{width: 100%;text-align: center;color: #fff;}
  	.input-group{width: 400px;margin-top: 10px;margin-bottom: 10px;}
  	.tijiao {width: 400px;height: 300px;position: fixed;left: 50%;top: 50%;margin-left: -200px;margin-top: -150px;}
  	.tijiao .ipt1{margin-left: 100px;margin-top: 50px;width: 200px;height: 50px;font-size: 20px;}
  </style>
  <body>
  	<img class="img1" src="/images/1.jpg"/>
    <div class="tijiao">
    	 <form action="/users/login" method="post">
    			<h3>登录</h3>
    		<div class="input-group input-group-sm">
            <span class="input-group-addon">账号</span>
            <input type="text" class="form-control" placeholder="请输入账号" name="user">
        </div>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">密码</span>
            <input type="text" class="form-control" placeholder="请输入密码" name="pass">
        </div>
    		<input class="ipt1" type="submit" value="登录"/>
    	</form>
    </div>
   
    
  </body>
</html>
